<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/loginstyle.css') }}">
</head>
<body>
    <form method="POST">
        <input type="email" placeholder="email" name="email" required>
        <input type="password" placeholder="password" name="password" required>
        <input type="submit" value = "login">
        <span>Forgot <a href="">Password</a></span>
        <br>
        <br>
        <span>New User? <a href="{{ url_for('register') }}">Register</a></span>
    </form>
</body>
</html>